@page
@model Tarea_3_BD.Pages.View.List.VistaTFModel
@{
}

<!-- boton de navegacion de prueba -->
<tr>
    <th>
        <form method="post" asp-page-handler="VistaEstadoDeCuenta">
            <input type="hidden" name="IdTarjetaActual" value="" />
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form>
    </th>
</tr>
<!----------------------------------->

@*
    En esta pagina es donde se muestran todas las TCA y TCM asociadas a un TARJETAHABIENTE
    Por ejemplo:

    Usuario: "Juan Pérez"
    IdTarjetaHabiente: 15
            N° Tarjeta    Estado de la TF    Tipo de Cuenta    Fecha de Vencimiento
             12345678        No Activa            TCA              30/10/2024
             90123456         Activa              TCM              12/12/2027
*@



<h2>Tarjetas de Usuario</h2>

<table class="table">
    <thead>
        <tr>
            <th>Número de tarjeta física asociada</th> <!-- num de TF asociada a TCA o TCM de cada fila  -->
            <th>Estado</th> <!-- estado de la TF -->
            <th>Tipo de Cuenta</th> <!-- Es TCA o TCM  -->
            <th>Fecha de Vencimiento</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var tarjeta in Model.listaTarjetas)
        {
            <tr>
                <th>@tarjeta.Numero</th>
                <th>@tarjeta.EsValida</th>
                <th>@tarjeta.TipoCuenta</th>
                <th>@tarjeta.FechaVencimiento</th>
                <th>
                    <form method="post" asp-page-handler="VistaEstadoDeCuenta">
                        <input type="hidden" name="IdTarjetaActual" value="@tarjeta.IdTarjeta" /> <!-- el value deberia ser IdTarjeta ya sea TCM o TCA -->
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
    
</table>