@page
@model Tarea_3_BD.Pages.View.List.VistaTCMModel
@{
}

<h2>Tarjetas de Usuario - Maestra</h2>

<br />
<table class="table">
    <thead>
        <tr>
            <th>Fecha estado de cuenta</th>
            <th>Pago Mínimo</th>
            <th>Pago de Contado</th>
            <th>Intereses Corrientes</th>
            <th>Intereses Moratorios</th>
            <th>Cantidad Operaciones ATM</th>
            <th>Cantidad Operaciones Ventanilla</th>
            <th>Consultas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarjeta in Model.listaEstadosDeCuenta)
        {
            <tr>
                <td>@tarjeta.FechaEstadoCuenta</td>
                <td>@tarjeta.PagoMinimo</td>
                <td>@tarjeta.PagoContado</td>
                <td>@tarjeta.InteresesCorrientes</td>
                <td>@tarjeta.InteresesMoratorios</td>
                <td>@tarjeta.CantidadOperacionesATM</td>
                <td>@tarjeta.CantidadOperacionesVentanilla</td>
                <td>
                    <form method="post" asp-page-handler="VistaEstadoDeCuenta">
                        <input type="hidden" name="IdEstadoDeCuenta" value=@tarjeta.Id /> <!-- el value deberia ser IdTarjeta ya sea TCM o TCA -->
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>