@page
@model Tarea_3_BD.Pages.View.List.VistaTCAModel
@{
}


<h2>Tarjetas de Usuario - Adicionales</h2>

<br />


<table class="table">
	<thead>
		<tr>
            <th>Fecha Estado de Cuenta</th>
            <th>Cantidad Operaciones ATM</th>
            <th>Cantidad Operaciones Ventanilla</th>
            <th>Cantidad de Compras</th>
            <th>Suma de Compras</th>
            <th>Cantidad de retiros</th>
            <th>Suma de retiros</th>
		</tr>
	</thead>
    <tbody>
        <!-- Estado de cuenta de una TCA -->
        <!-- listaEstadosDeCuenta debe ser una lista del estado de una TCA -->
        @foreach (var ED in Model.listaEstadosDeCuenta)
        {
            <tr>
                <td>@ED.FechaEstadoCuenta</td>
                <td>@ED.CantidadOperacionesATM</td>
                <td>@ED.CantidadOperacionesVentanilla</td>
                <td>@ED.CantidadDeCompras</td>
                <td>@ED.SumaDeCompras</td>
                <td>@ED.CantidadDeRetiros</td>
                <td>@ED.SumaDeRetiros</td>
                <th>
                    <form method="post">
                        <input type="hidden" name="IdEstadoDeCuenta" value=@ED.Id />
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>