@page
@model Tarea_3_BD.Pages.View.List.VistaTarjetasModel
@{
}

<h2>Todas las Tarjetas</h2>




<table class="table">
    <thead>
        <tr>
            <th>Número de tarjeta física asociada</th> <!-- num de TF asociada a TCA o TCM de cada fila  -->
            <th>Estado</th> <!-- estado de la TF -->
            <th>Tipo de Cuenta</th> <!-- Es TCA o TCM  -->
            <th>Fecha de Vencimiento</th>
            <th>Consulta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarjeta in Model.listaTodasTarjetas)
        {
            <tr>
                <td>@tarjeta.Numero</td>
                <td>@tarjeta.EsValida</td>
                <td>@tarjeta.TipoCuenta</td> <!-- valida si esta en lista TCM o TCA en cshtml.cs  -->
                <td>@tarjeta.FechaVencimiento</td>
                <td>
                    <form method="post"> <!-- este boton va a redirigir a vistaTCM o vistaTCA -->
                        <input type="hidden" name="IdTarjetaActual" value="@tarjeta.IdTarjeta" /> <!-- el value deberia ser IdTarjeta ya sea TCM o TCA -->
                        <input type="hidden" name="TipoDeTarjeta" value="@tarjeta.TipoCuenta" /> <!-- el value deberia ser que tipo de cuenta es -->
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>