@page
@model Tarea_3_BD.Pages.View.List.VistaUsuarioModel
@{
}



<h2>Tarjetas de Usuario - Usuario</h2>
<table class="table">
    <thead>
        <tr>
            <th>Fecha Estado de Cuenta</th>
            <th>Pago Minimo</th>
            <th>Pago Contado</th>
            <th>Intereses Corrientes</th>
            <th>Intereses Moratorios</th>
            <th>Cantidad Operaciones ATM</th>
            <th>Cantidad Operaciones Ventanilla</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.listaEstadosDeCuenta)
    {
        <tr>
            @*
            <td></td>
            <td>
                <form method="post" asp-page-handler="VistaEstadoDeCuenta">
                    <input type="hidden" name="nombre" value="" />
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </form>
            </td>
            *@

        
            <th>@item.FechaEstadoCuenta</th>
            <th>@item.PagoMinimo</th>
            <th>@item.PagoContado</th>
            <th>@item.InteresesCorrientes</th>
            <th>@item.InteresesMoratorios</th>
            <th>@item.CantidadOperacionesATM</th>
            <th>@item.CantidadOperacionesVentanilla</th>
        
        @* 
        cantidad operaciones ATM
        cantidad operaciones ventanilla
        cantidad de compras
        suma de las compras
        cantidad de retiros
        suma de los retiros
        *@

        </tr>
        
    }
    </tbody>
