@page
@model Tarea_3_BD.Pages.View.List.VistaTCMModel
@{
}

<!-- boton de navegacion de prueba -->
<tr>
    <th>
        <form method="post" asp-page-handler="VistaEstadoDeCuenta">
            <input type="hidden" name="IdTarjetaActual" value="" />
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form>
    </th>
</tr>
<!----------------------------------->

<h2>Tarjetas de Usuario - Maestra</h2>

<table class="table">
    <thead>
        <tr>
            <th>Fecha estado de cuenta</th>
            <th>Pago Mínimo</th>
            <th>Pago de Contado</th>
            <th>Intereses Corrientes</th>
            <th>Intereses Moratorios</th>
            <th>Cantidad Operaciones ATM</th>
            <th>Cantidad Operaciones Ventanilla</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarjeta in Model.listaEstadosDeCuenta)
        {
            <tr>
                <th>@tarjeta.FechaEstadoCuenta</th>
                <th>@tarjeta.PagoMinimo</th>
                <th>@tarjeta.PagoContado</th>
                <th>@tarjeta.InteresesCorrientes</th>
                <th>@tarjeta.InteresesMoratorios</th>
                <th>@tarjeta.CantidadOperacionesATM</th>
                <th>@tarjeta.CantidadOperacionesVentanilla</th>
                <th>
                    <form method="post" asp-page-handler="VistaEstadoDeCuenta">
                        <input type="hidden" name="IdTarjetaActual" value="" /> <!-- el value deberia ser IdTarjeta ya sea TCM o TCA -->
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>